.row>*{
  padding: 0px;
}

.btn-outline-primary{
  margin-top: 6px;
}

.card{
  transition: transform .5s;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.07);
}

.card-img-top{
  height: 250px;
  
}

.cartInput{
  max-width: 47px;
  border: 0px;
  text-align: center;
}

.cart-body{
  display: flex;
  box-shadow: rgb(6 24 44 / 29%) 0px 0px 0px 2px, rgb(6 24 44 / 29%) 0px 4px 6px -1px, rgb(255 255 255) 0px 1px 0px inset;
    border-radius: 6px;
    align-content: center;
    padding-left: 10px;
}

.price2{
  font-weight: bolder;
}

#cartBody{
    flex-direction: column;
    display: flex;
}

.cart-body{
  padding-left: 5px;
}

#puma1,#nike1, #adidas1, #reebook1{
  margin-top: 10px;
}

.img-fluid{
  height: 125px;
  background-color: rgba(227, 227, 227, 0.521);
  padding: 6px;
}

.cartStyle{
  display: flex;
}

.pay{
  height: 105px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body{
  margin-left: 10px;
}

.success{
  max-width: 500px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;
  
}

.success {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.success:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.success:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.success:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#totalAmount{
  margin-left: 11px;
}

/* Media Queries  */

@media(min-width: 575px) and (max-width: 991px) {
.card-img-top{
  height: 180px;
}

.rating{
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  text-align: center;
}

.price1, .price2{
  font-size: 14px!important;
  text-align: center;
}

.purchase{
  flex-direction: column;
  justify-content: center!important;
}
  
}

@media (max-width: 575px) {
.card-img-top{
  height: 250px;
}
  
}

@media (max-width: 335px){
  .cartAdd{
    flex-direction: column;
max-width: 75%;
  }

  .card-body{
    max-width: 95%;
  }

  #cartInput1,#cartInput2,#cartInput3{
    max-width: 100px;
    text-align: center;
  }
}

@media (min-width: 575px) and (max-width: 768px){
  .card-img-top{
    height: 135px;
  }
}