.row>*{
  padding: 0px;
}

#mainnav{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 17px;
}

.card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.card-text{
  justify-content: center;
}

.container{
  text-align: center;
  margin-top: 140px !important;
}

.btn-outline-primary{
  margin-top: 6px;
}

.card{
  transition: transform .5s;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.card-img-top{
  height: 250px;
  
}

.col-md-8{
  text-align: left;
}

.cartInput{
  max-width: 47px;
  border: 0px;
  text-align: center;
}

.cart-body{
  display: flex;
  box-shadow: rgb(6 24 44 / 29%) 0px 0px 0px 2px, rgb(6 24 44 / 29%) 0px 4px 6px -1px, rgb(255 255 255) 0px 1px 0px inset;
    border-radius: 6px;
    align-content: center;
    padding-left: 10px;
}

.price2{
  font-weight: bolder;
}

#cartBody{
    flex-direction: column;
    display: flex;
}

.cart-body{
  padding-left: 5px;
}


#puma1,#nike1, #adidas1, #reebook1{
  margin-top: 10px;
}

.img-fluid{
  height: 125px;
  background-color: rgba(227, 227, 227, 0.521);
  padding: 6px;
}

.cartStyle{
  display: flex;
}

.pay{
  height: 105px;
  overflow: auto;
  display: none;
  align-items: center;
  justify-content: center;
}

.card-body{
  /* margin-left: 10px; */
  width: 95%;
}

.success{
  max-width: 500px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;
  
}

.cartStyleAdd{
  background-color: #11435a;
    color: white;
}

#empty{
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(51, 51, 51);

}

#totalAmount{
  margin-left: 11px;
}

.Danger{
  position: relative;
  bottom: 140px;
  left: 130px;
}

.col-md-8{
  height: 138px
}

#myCart:hover{
  cursor: pointer;
}

#dark:hover{
  cursor: pointer;
}

.reviewers{
  display: flex;
  justify-content: center;
}

#Heading1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  margin-top: 76px !important;
}

#Heading2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;

}

.stars{
  display: flex;
  justify-content: center;
}

.reviews{
  font-family: 'Libre Franklin', sans-serif;
}

.reviewss{
  margin-top: 100px !important;

}

/* Media Queries  */

@media(min-width: 575px) and (max-width: 991px) {
.card-img-top{
  height: 180px;
}

.rating{
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  text-align: center;
}

.price1, .price2{
  font-size: 14px!important;
  text-align: center;
}

.purchase{
  flex-direction: column;
  justify-content: center!important;
}
  
}

@media (max-width: 575px) {
.card-img-top{
  height: 250px;
}
.card-body{
  max-width: 95%;
}
  
}

@media (max-width: 335px){


  #cartInput1,#cartInput2,#cartInput3{
    max-width: 100px;
    text-align: center;
  }
}

@media (min-width: 575px) and (max-width: 768px){
  .Danger{
    bottom: 139px;
    left: 135px;
  }
  .card-img-top{
    height: 135px;
  }

}

@media (min-width: 392px) and (max-width: 767px) {
  .Danger{
    bottom: 54px;
    left: 135px;
  }


}

@media (max-width: 391px) {
  .Danger{
    bottom: 263px;
    left: 150px;
  }

  .cartStyle{
    display: flex;
    flex-direction: column;
  }

  .cartStyle>img{
width: 120px !important;
  }

  .card-body{
    margin-top: 20px;
    margin-left: 0px;
    width: 95%;
  }

}

/* #centerFoot{
  justify-content: center !important;
} */

#Cover2{
  display: none;
}

#copyright{
  font-size: 18px;
}

@media (max-width: 1400px){
  #Cover{
    height: 295px !important;
  }
}

@media (max-width: 992px){
  #Cover{
    height: 222px !important;
  }
}

@media (max-width: 768px){
  #Cover{
    display: none;
  }
  #Cover2{
    display: flex;
  }
}

@media (max-width: 430px) {
  #Cover2{
    height: 300px !important;
  }
  
}